
@model IEnumerable<Employee>
@{
    ViewData["Title"] = "Users";
}
<div class="card z-index-0 fadeIn3 fadeInBottom bg shadow-dark">
    <div class="card-header p-3 pt-2">
        <div class="icon icon-lg icon-shape bg-gradient-warning shadow-warning text-center border-radius-xl mt-n4 position-absolute">
            <i class="material-icons opacity-10">
                list
            </i>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-uppercase text-xxs font-weight-bolder opacity-7">Id</th>
                    <th class="text-uppercase text-xxs font-weight-bolder opacity-7">Full Name</th>
                    <th class="text-uppercase text-xxs font-weight-bolder opacity-7">Email</th>
                    <th class="text-uppercase text-xxs font-weight-bolder opacity-7">Phone Number</th>
                    <th class="text-uppercase text-xxs font-weight-bolder opacity-7">Address</th>
                    <th class="text-uppercase text-xxs font-weight-bolder opacity-7">City</th>
                    <th class="text-uppercase text-xxs font-weight-bolder opacity-7">Province</th>
                    <th class="text-uppercase text-xxs font-weight-bolder opacity-7">Picture</th>
                    <th class="text-uppercase text-xxs font-weight-bolder opacity-7">Functions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var emp in Model)
                {
                    <tr>
                        <td>@emp.User_Id</td>
                        <td>@emp.Full_Name</td>
                        <td>@emp.User_Name</td>
                        <td>@emp.Mobile</td>
                        <td>@emp.Address</td>
                        <td>@emp.City</td>
                        <td>@emp.Province</td>
                        <td>@emp.Image_Path</td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = emp.User_Id })
                            <span>|</span>
                            @Html.ActionLink("Delete", "Delete", new { id = emp.User_Id })
                            <span>|</span>
                            @Html.ActionLink("Details", "Details", new { id = emp.User_Id })
                        </td>
                    </tr>
                }

            </tbody>
        </table>
        <button class="btn btn-dark">@Html.ActionLink("Create", "Create")</button>
    </div>
</div>